body {
    background-color: black;
    color: white;
}


nav{
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
nav a:hover{
    cursor: pointer;
    background-color: rgb(0, 185, 0);
    transition: 200ms;
}

.currentpage {
    background-color: rgb(0, 185, 0);
    
}
.currentpage:hover{
    cursor: not-allowed;
    background-color: rgb(0, 115, 0);
    transition: 200ms;
}

.bts {
    width: 200px;
    margin: -75px 1720px;
}

a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row
}

.block {
    height: 500px;
    width: 500px;
    border: solid gray 2px;
    border-radius: 10px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}